body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lobster Two', cursive;
    background-color: #fafafa;
}

main, footer {
    padding: 5rem;
}

#navbar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid  #093867 ;
    
}



.navbar-navegacion li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
    
}

.navbar-navegacion li:hover{
    transform: scale(1.2);
   

}
.navbar-navegacion li a{
    text-decoration: none;
    color: #B5C1D2;
    transition: all 0.5s ease 0s;
    
    
}

.navbar-navegacion li a:hover {
    color: #093867 ;
    border-bottom: 1px solid #093867;
    
}

#bars {
    line-height: 90px;
    margin-right: 30px;
    cursor: pointer;
    display: none;

}

#bars svg {
    width: 30px;
    
}


#logo-empresa {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#logo-empresa img {
    width: 250px;
    height: auto;
}

/* Buscador */

#busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0

    
}

#buscador {
    display: flex;
    padding: 3rem;
    gap: 1rem;
    
}

#buscador  select{
    font-size: medium;
    padding: 10px;
    background-color: #093867;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

#boton-buscador {
    font-size: medium;
    padding: 0 20px;
    border-radius: 40px;
    cursor: pointer;
}

#boton-buscador:hover {
    background-color: #093867;
    color: white;
}



/* Galeria autos */


.automovil {

    width: 15.625rem;
    height: 24.375rem;
    padding: 10px;
    

}

.automovil > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
   
}

.automovil > article, #busqueda {
    border: 1px solid #fafafa;
    border-radius: 10px;
    box-shadow: 3px 7px 8px rgba(0,0,0,0.4);
}


.imagen-autos {
    width: 16.625rem;
    height: auto;
}

.automovil article h3,strong,p{

    margin: 3px;
}


.boton-galeria{
    background-color: #093867;
    border: 2px solid #B5C1D2;
    color: #fafafa;
    border-radius: 40px;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;

    
  
    
  
}

#galeria-autos, #servicios-section {
    display: grid;
    margin-left: 4rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,20rem),1fr));
    align-items: start;
    
}

#galeria-autos h2 {
    align-self: start;
}

.servicios img {
    width: 100%;
    padding-top: 4rem;
}
.servicios p {
    border-top: 1px solid #093867;
    padding-top: 10px;
}




/* Footer */

#pie-de-pagina {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    border-top: 1px solid black;
    
    
    
}

#footer-nosotros, #footer-empresa, #footer-contacto {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0 5rem;
    
    
    
}
.footer-titulo {
    border-bottom: 2px solid #093867;
    padding-bottom: 10px;
    
}



#pie-de-pagina ul {
    list-style: none;
}

#pie-de-pagina li {
    padding: 10px 0;
    
}

#pie-de-pagina li a{
    text-decoration: none;
    color: black;
    
}

#pie-de-pagina li a:hover {
    color:  #9bb2d7 ;
    
}


#redes-sociales-footer {
    display: flex;
    justify-content: center;
    
  }
  
  #redes-sociales-footer ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  #redes-sociales-footer li {
    margin: 0 10px;
    width: 50px;
    cursor: pointer;
    
  }
  #redes-sociales-footer li img:hover{
    background-color: #9bb2d7;
    border-radius: 8px;
  } 





