body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lobster Two', cursive;
    background-color: #fafafa;
}

#navbar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid  #093867 ;
    
}



.navbar-navegacion li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
    
}

.navbar-navegacion li:hover{
    transform: scale(1.2);
   

}
.navbar-navegacion li a{
    text-decoration: none;
    color: #B5C1D2;
    transition: all 0.5s ease 0s;
    
    
}

.navbar-navegacion li a:hover {
    color: #093867 ;
    border-bottom: 1px solid #093867;
    
}

#logo-empresa {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#logo-empresa img {
    width: 250px;
    height: auto;
}





/* Galeria autos */


.automovil {

    width: 15.625rem;
    height: 24.375rem;
    padding: 10px;
    

}

.automovil > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    
    
   
    
}


.imagen-autos {
    width: 16.625rem;
    height: auto;
}

.automovil article h3,strong,p{

    margin: 3px;
}




.boton-galeria {
    background-color: #093867;
    border: 2px solid #B5C1D2;
    color: #fafafa;
    border-radius: 40px;
    font-size: 15px;
    padding: 10px;
    margin: 20px;

    
  
    
  
}

#galeria-autos {
    display: grid;
    margin-left: 4rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,20rem),1fr));
    align-items: start;
    
}

#galeria-autos h2 {
    align-self: start;
}

/* Footer */

#pie-de-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-top: 1px solid black;
    
   
}

#pie-de-pagina li {
    display: inline-block;
    padding: 0 50px;
    color: #093867;
}





