main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#texto-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

form {
    padding: 1%;
    border: 1px solid #093867;
    border-radius: 10px;
    box-shadow: 3px 7px 8px rgba(0,0,0,0.4);
    
}

form label {
    display: flex;
    text-align: left;
    width: 30%;
    margin-bottom: 1vw;
}

form fieldset {
    border: white;
    padding: 0;
    margin: 0
}

form input, textarea, select {
    display: inline-block;
    width: 50%;
    margin-bottom: 1vw;
    
}

form fieldset input {
    display: inline;
    justify-content: flex-start;
    width: 19.6666666666666%;
    margin-bottom: 1vw;

}

input, textarea, select {
    border-radius: 5px;
}

.input-correcto {
    border: 1px solid green;
}
.input-incorrecto {
    border: 1px solid red;
}
#enviar {
    display: center;
    border-radius: 5px;;
    background-color: rgb(71, 165, 247);
    border: 1.15vw solid rgb(71, 165, 247);
    color: white;
    opacity: 60%;
    
}

body {
    font-family: 'Lobster Two', cursive;
    padding: 10%;
}