main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#texto-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

form {
    padding: 5%;
    margin: 0 auto;
    border: 1px solid #093867;
    border-radius: 10px;
    box-shadow: 3px 7px 8px rgba(0,0,0,0.4);
}

.input-correcto {
    border: 1px solid green;
}
.input-incorrecto {
    border: 1px solid red;
}
#enviar {
    display: center;
    border-radius: 5px;;
    background-color: rgb(71, 165, 247);
    border: 1.15vw solid rgb(71, 165, 247);
    color: white;
    opacity: 60%;
    font-weight: bold;
}

#enviar:hover {
    background-color: rgb(0, 136, 255);
    border: 1.15vw solid rgb(0, 136, 255);
}


input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Lobster Two', cursive;
    padding: 10%;
}

@media(max-width:700px) {
    form {
        width: fit-content;
    }
    #texto-form {
        width: fit-content;
        padding: 0;
        padding-bottom: 10%;
    }
}